---
import Layout from '../layouts/Layout.astro'
import Section from '../components/Section.astro'
import LoadingBar from '../components/LoadingBar.astro'
import { iconComponents } from '../components/icons'
import { getCollection } from 'astro:content'

const homeEntries = await getCollection('home')
const contents = await Promise.all(homeEntries.map(entry => entry.render()))
---

<Layout title="Daniel Mata">
  <div
    class="fixed top-0 right-1/2 -z-10 mt-24 flex h-screen w-[50vw] min-w-[50vh] translate-x-1/2 items-center justify-center sm:right-0 sm:mt-32 sm:transform-none"
  >
    <LoadingBar />
    <canvas class="h-0 w-0"></canvas>
  </div>
  <main class="flex flex-col items-center">
    <Section>
      <div class="not-prose">
        <h2 class="mt-[36.5vh] animate-appear text-4xl font-bold sm:text-6xl">
          Hey! <span class="inline-block animate-wave font-normal">👋</span>
        </h2>
        <h3 class="mt-8 animate-[appear_2s_0.5s_forwards] text-2xl opacity-0 sm:text-4xl">
          My name is
        </h3>
        <h1 class="animate-[appear_2s_1s_forwards] text-7xl font-bold italic opacity-0 sm:text-9xl">
          DANIEL<br />MATA
        </h1>
        <p class="mt-8 animate-[appear_2s_1.5s_forwards] text-xl opacity-0 sm:text-3xl">
          I am a full-stack developer focused on bringing great experiences to the web. I specialize
          in deploying decentralized applications onto the blockchain.
        </p>
      </div>
    </Section>
    {
      contents.map(content => (
        <Section>
          <content.Content components={iconComponents} />
        </Section>
      ))
    }
  </main>
</Layout>

<script>
  setTimeout(() => import('../components/root'), 3500)
</script>
