<div class="relative w-1/2 opacity-50" id="loading-bar">
  <div class="absolute h-2 w-full animate-[load_1s_linear_infinite] rounded bg-black"></div>
  <div class="absolute h-2 w-full animate-[load_1s_linear_infinite_0.5s_forwards] rounded bg-white">
  </div>
</div>
