<div class="relative w-1/2 opacity-50" id="loading-bar">
  <div class="absolute w-full h-2 bg-black animate-[load_1s_linear_infinite] rounded"></div>
  <div class="absolute w-full h-2 bg-white animate-[load_1s_linear_infinite_0.5s_forwards] rounded">
  </div>
</div>
