---
interface Props {
  children: any
  class?: string
}

const { class: className } = Astro.props
---

<section
  class:list={[
    'prose prose-invert m-5 min-h-screen overflow-x-hidden p-5 prose-h3:text-[1em] sm:prose-xl sm:prose-h3:text-[1em]',
    className,
  ]}
>
  <slot />
</section>
